body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    background-color: #cacaca;
}
header {
    background-color: #af4c4c;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    margin: 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 20px;
}
